.tag {
  display: inline-block;
  padding: 0.2em 0.65em;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}


.tag--ongoing {
  background-color: #d79416;
  color: #ffffff;
}
